footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: var(--primary-color);
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-content: center;
    align-items: center;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: var(--white-color);
    margin-bottom: 25px;
    font-size: 25px;

}

footer .footer_main .footer_tag p{
    margin: 10px 0;
    color: var(--white-color);
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #fac031;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: var(--white-color);
}

footer .end span{
    color: #fac031;
    margin-left: 10px;
}

::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-track{
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background: #fac031;
    border-radius: 15px;
}